<div class="form-group banner ">
    <nav class="navbar">
        
        <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

        <div class="menu">
        <li><a href="/">Home Home</a>
            <p>dshfñdsfhñl</p>
        </li>
        <li><a href="/">About about abou</a>
            
        </li>
        </div>
        </ul>
    </nav>
    <div class="banner_imagen">
    <img class="banner__img" src="/../../assets/imgs/banner.jpg">
    <div class="banner__info">
        <h1 class="banner__title">Regístrate y obtén un audiolibro gratis</h1>
        <p class="banner__p1">Escuchar tus audiolibros favoritos, es mas facíl que nunca.</p>
        <p class="banner__p2">Bienvenido a ventura.com, aqui encontraras viajes extraordinarios los cuales se encargaran de crearte una experiencia involvidable!</p>
    </div>
    </div>

</div>
