
<div class="container">
<form>
    <div class="form">
    <div class="form-group">
        <h2>Registrarme con mi cuenta Amazon</h2>
    </div>
    
    <div class="form-group">
        <label for="InputName" >Nombre</label>
        <input type="text" class="form-control" >
    </div>
    <div class="form-group">
      <label for="InputEmail" >Email</label>
      <input type="email" class="form-control" >
    </div>
    <div class="form-group">
      <label for="InputContraseña" >Contraseña</label>
      <input type="password" class="form-control" >
      <p id="parrafoPassword">Posiblemente es una sugerencia</p>
    </div>
        <div class="form-group btn-group">
        <button type="submit" class="btn btn-primary">Registrarme</button>
        </div>    
    </div>   

</form>

<section class="checkAndLink">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Recordar mi contraseña
        </label>
      </div>

      <a href="#" class="link-info">Olvidaste contraseña</a>
</section>

</div>